*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #3d1700;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4vh 5vw;
    position: absolute;
    position: fixed;
    z-index: 1;
    background-color: #3d1700;
}

ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}

a{
    text-decoration: none;
    font-size: 2.5rem;
    color: aliceblue;
}

#inicio{
    display: flex;
    padding: 4vh 5vw;
    background-image: url(/assets/img/dc7583c03a155fba71e4a22f4b029fa8.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh;
    gap: 1rem;
    flex-direction: column;
}

#sobre{
    display: flex;
    padding: 4vh 5vw;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    gap: 1rem;
    background: linear-gradient(140deg,rgba(221, 201, 150, 1) 52%, rgba(83, 39, 40, 1) 100%, rgba(255, 214, 163, 1) 83%);
    border: solid #3d1700;
}

#sobre p{
    font-size: 5rem;
}

#sobre img{
    display: block; 
    width: 24rem;  
    height: 24rem;
    border-radius: 50px;
    margin-left: auto;   
    margin-bottom: 0rem; 
    border: 3px solid #3d1700;
    object-fit: cover;
}


h1{
    font-size: 5rem;  
}

h2{
    font-size: 3rem;
}

p{
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

#Projetos{
    display: flex;
    padding: 4vh 5vw;
    background: linear-gradient(140deg,rgba(83, 39, 40, 1) 0%, rgba(255, 214, 163, 1) 35%, rgba(255, 214, 163, 1) 17%);
    background-size: cover;
    padding: 15vh;
    border: solid #3d1700;
    height: 100%;
}

.nav2{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}

.Proj-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vw;
    border: solid;
    background-color: #3d1700;
    border-radius: 50px;
}

#Projetos img{
    display: flex;
    width: 40rem;
    height: 25rem;
    align-items: center;
    
    border-radius: 50px;
}

#Projetos h2{
    color: aliceblue;
    background-color: #3d1700;
    border-radius: 10px;
    padding: 0.5rem;
}

#Projetos h3{
    color: aliceblue;
    font-size: 4rem;
}

#Projetos i{
    color: aliceblue;
}

#Contato{
    display: flex;
    padding: 15vh;
    flex-direction: column;
    gap: 5vh;
    background: linear-gradient(140deg,rgba(221, 201, 150, 1) 52%, rgba(83, 39, 40, 1) 100%, rgba(255, 214, 163, 1) 83%);
    border: solid #3d1700;
      
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border: 5px solid;
    border-radius: 50px;
    font-size: 3rem;
    padding: 2rem;
    width: 40rem;
    height: 55rem; 
}

.form{
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 0 10vw
}

input{
    height: 15rem;
    border-radius: 10px;
    border: solid #3d1700;
}

button{
    height: 15rem;
    background-color: #3d1700;
    border-radius: 10px;
    color: aliceblue;
    font-size: 2rem;
}

.form p{
    display: flex;
    align-items: center;
    font-size: 5rem;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #3d1700;
    color: aliceblue;
}
