*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #3d1700;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4vh 5vw;
    position: absolute;
    position: fixed;
    z-index: 1;
    background-color: #3d1700;
}

ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}

a{
    text-decoration: none;
    font-size: 2.5vw;
    color: aliceblue;
}

h1{
    font-size: 5vw;  
}

h2{
    font-size: 3vw;
}

p{
    margin-top: 1.5rem;
    font-size: 4vw;
}

#inicio{
    display: flex;
    padding: 4vh 5vw;
    background-image: url(/assets/img/dc7583c03a155fba71e4a22f4b029fa8.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
}

#sobre{
    display: flex;
    padding: 4vh 5vw;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80vh;
    gap: 1rem;
    background: linear-gradient(140deg,rgba(83, 39, 40, 1) 0%, rgba(255, 214, 163, 1) 35%, rgba(255, 214, 163, 1) 17%);
    border: solid #3d1700;
}

.apresentacao{
    width: 50%;
}

.container-img{
    
    width: 400px;  
    border-radius: 50px;
    margin-left: auto;   
    margin-bottom: 0rem; 
    border: 4px solid #3d1700;
    object-fit: cover;
}

.container-img > img {
    width: 100%;
    border-radius: 50px;

}

#sobre p{
    font-size: 4vw;
    align-items: center;
}

#borda-sobre{
    display: flex;
    border-style:dashed;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
}


#Projetos{
    display: flex;
    padding: 4vh 5vw;
    width: 100%;
    background: linear-gradient(140deg,rgba(221, 201, 150, 1) 52%, rgba(83, 39, 40, 1) 100%, rgba(255, 214, 163, 1) 83%);
    border: solid #3d1700;
    justify-content: center;
}

#nav-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.click-projetos1{
    display: flex;
    width: 33%;
    margin-top: 15vw;
    transform: rotate(120deg);
}

.click-projetos2{
    display: flex;
    width: 33%;
    margin-top: 18vw;
    transform: rotate(120deg);
}

.Proj-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    margin-top: 15vw;
    border: solid;
    background-color: #3d1700;
    border-radius: 50px;
}

.container-projects{
    display: flex;
}

#Projetos img{
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 50px;
}

#Projetos h2{
    color: aliceblue;
    width: 33%;
    border-radius: 10px;
    padding: 1.5vh 1.5vw;
    width: 100%;
   
}

#Projetos h3{
    color: aliceblue;
    font-size: 4rem;
}

#Projetos i{
    color: aliceblue;
}

#Contato{
    display: flex;
    padding: 15vh;
    width: 100%;
    flex-direction: column;
    gap: 5vh;
    background: linear-gradient(140deg,rgba(83, 39, 40, 1) 0%, rgba(255, 214, 163, 1) 35%, rgba(255, 214, 163, 1) 17%);
    border: solid #3d1700;
      
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border-style:dashed;
    border-radius: 50px;
    font-size: 3rem;
    padding: 2rem;
    width: 40%;
    
}

.form{
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 0 10vw
}

input{
    height: 5vW;
    border-radius: 10px;
    border: solid #3d1700;
}

button{
    height: 5vw;
    background-color: #3d1700;
    border-radius: 10px;
    color: aliceblue;
    font-size: 2rem;
}

.form p{
    display: flex;
    align-items: center;
    width: 40%;
    font-size: 5rem;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3d1700;
    color: aliceblue;
}


/* === Responsividade === */

@media(max-width: 480px){
    header{
        align-items: center;
        width: 100%;
    }
    section{
        align-items: center;
    }
}